.cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "start mid1 end"
    "start mid2 end";       
}

.card-supervisor  {
    grid-area: start;
    align-self: center;
}

.card-team-builder {
    grid-area: mid1;
}
.card-karma {
    grid-area: mid2;
}
.card-calculator {
    grid-area: end;
    align-self: center;
}