body{
    background-color: black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#body{ 
    height: auto;
    width: auto;
    background-color: hsl(233, 47%, 7%);
    margin:15% ;
    color: aliceblue;
    border: 3px solid white;
    overflow: hidden;
}

.card{
    width: 500px;
    height: auto;
}
#header{
    display: inline-block;
    position: relative;
    padding: 3px;
    margin-top:10 %;
    margin-left:10%
    font-weight: 400, 700;
}

.alter-color{
    color:  hsl(244, 83%, 45%)
    
}

#img{
    margin-top: -45%;
    float: right;
    width: 500px;
    height: 500px;
}

.context-body{
    color: hsla(0, 0%, 100%, 0.6);
    font-size: large;
    font-weight: 400;
    display: inline-block;
    position: relative;
    flex-wrap: wrap;
    flex-shrink: inherit;
}

.stats{
    padding: 10px;
    margin: 10%;
}

.footer-content{
    color:  hsl(244, 83%, 45%) ;
    display: flex;
    justify-content: center;
}

.stats{
    color: aliceblue;
    /* font-size: xx-large; */
    font-weight: 500;
}

